@use '../util/' as *;

.toggle {
    display: grid;
    grid-template-columns: 1fr 3rem;
    border: none;
    margin: 0;
    gap: rem(4.8) rem(8);

    label {
        font-size: rem(14);
        
        &[for = 'dark'] {
            line-height: rem(24);
        }
    }

    &__wrapper {
        grid-column: 2 / 3;
        height: rem(24);
        position: relative;
    }

    input[type = "radio"] {
        opacity: 0;
        margin: 0 -2px 0 -2px ;
        height: rem(24);
        width: rem(20);

        &:focus ~ .toggle__button {
            border: 2px solid white;
        }
    }

    &__background {
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
        top: 0;
        border-radius: rem(12);
        background: linear-gradient(
            225deg, 
            var(--toggle-bg-end) 0, 
            var(--toggle-bg-start) 98.02%
            );
        pointer-events: none ;
    }

    &__button {
        position: absolute;
        top: rem(3);
        left: rem(3);
        right: 100%;
        width: rem(18);
        height: rem(18);
        border-radius: 50%;
        background-color: var(--dark-bg);
        transition: all 150ms ease-in-out;
    }

    #light:checked ~ .toggle__button{
        left: calc(100% - rem(21));
        right: rem(3);
    }
    
    #system:checked ~ .toggle__button{
        left: 50%;
        right: auto;
        transform: translate(-50%);
    }

}